<div class="top-budge">
    <div class="top-budge-pizza">PIZZA</div>
    <div class="top-budge-kma">KMA</div>
    <img src="assets/images/discount.svg" class="top-budge-img">
</div>
<div class="bottom-budge">
    <div class="bottom-budge-this-week">ЦЬОГО ТИЖНЯ НА ВСЕ</div>
    <div class="bottom-budge-sale">-20%</div>
    <img src="assets/images/discount.svg" class="bottom-budge-img">
</div>