<div class="footer">
    <p>Pizza.22 - практичний проект в межах курсу JavaScript в Києво-Могилянській Академії</p>
    <p>Доставка піци не здійснюється</p>
</div>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--GOOGLE MAPS -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB-TZ12vi38BRxcnXm83S16V3nRV6X7cJM"></script>

<!--Own JavaScript -->
<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>