<div class="header">
    <div class="upper">
        <div class="phone-number visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
            (044) 222 5 222
        </div>
        <div class="working-hours visible-lg-inline-block visible-md-inline-block">24 години/ 7 днів на тиждень</div>
        <div class="motto visible-lg-inline-block">Безкоштовна доставка піци</div>
        <a class="btn btn-default sign-in hidden-xs">Ввійти</a>
    </div>
    <div class="downer">
        <div class="label-pizza visible-lg-inline-block visible-md-inline-block visible-sm-inline-block">Піца</div>
        <a class="btn btn-default sign-in visible-xs-inline-block">Ввійти</a>
    </div>
</div>