<div class="right-column">
    <div class="orders-header">
        <div class="label">Замовлення</div>
        <div class="counter">0</div>
        <button class="link button-clear">Очистити кошик</button>
    </div>
    <div class="order-list" id="cart">
        <template>
            <div class="item">
                <div class="name">Імпреза</div>
                <div class="description">
                    <div class="diameter">30</div>
                    <div class="weight">650</div>
                </div>
                <div class="buttons">
                    <div class="price">199</div>
                    <div class="buttons-count">
                        <a class="btn btn-default minus button-round">
                            <span class="glyphicon glyphicon-minus"></span>
                        </a>
                        <div class="counter">2</div>
                        <a class="btn btn-default plus button-round">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                    <a class="btn btn-default remove button-round">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
                <img class="pizza-img" src="assets/images/pizza_1.jpg">
            </div>
        </template>
    </div>
    <div class="orders-footer">
        <div class="label">Сума замовлення</div>
        <div class="amount">0</div>
        <a class="btn btn-default" id="return-to-list">Редагувати замовлення</a>
    </div>
</div>