.pizza-card {

  max-width: 100%;
  position: absolute;

  .label-danger {

    position: relative;
    right: -15px;
    top: -10px;

  }

  img {
    max-width: 100%;
  }

  h3 {

    color: @mainColor;
    //background-color: lighten(@mainColor, 45%);
    font-size: 25px;
    font-weight: bold;

  }

  .caption {

    padding: 10px;

  }

  .left-info {

    padding: 0;
    text-align: center;

  }

  .right-info {

    padding: 0;
    text-align: center;

  }

  .diameter::after {

    content: " см";

  }

  .weight::after {

    content: " г";

  }

  .price::after {

    content: "UAH";
    display: block;
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;

  }

  .price {

    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;

  }

  .empty {

    //box-sizing: border-box;
    font-size: 1px;
    padding: 0;
    margin: 0;

  }

  .small-description {

    font-size: 12px;
    color: #d9d7d1;

  }
}
